.search-module {
    margin: auto auto auto 0;
    /* margin-right: auto; */
}

.svg-inline--fa {
    color: #a3a3a3;
}

.search-module input {
    margin-left: 5px;
    font-size: 0.85rem !important;
}

.search-module .MuiInput-underline:before, .search-module .MuiInput-underline:after {
    border: none !important;
}